.git
.github
node_modules/
vendor/
public/build/
public/hot
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
.env
.env.*
!.env.example
tests/
*.md
.docker/
docker-compose*.yml
Dockerfile*
.phpunit.cache/
.pest/
